<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}] [%logger{1}/%level]: %msg%n}{STYLE=Logback}" disableAnsi="false"/>
        </Console>
        <RollingRandomAccessFile name="LogFile" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%logger/%level]: %msg%n" />
            <ThresholdFilter level="info"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="DebugFile" fileName="logs/debug-0.log" filePattern="logs/debug-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%logger/%level]: %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="net.mamoe.mirai.Bot" additivity="false">
            <Level value="DEBUG"/>
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="DebugFile"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="DebugFile"/>
        </Root>
    </Loggers>
</Configuration>